.DS_Store
*.sublime-project
*.sublime-workspace
!Project1/
Project1/*
!Project1/project1.sql
Project2/bpt_origin/
Project2/project_bpt.pdf
Project2/mydb
Project2/main
Project2/testinput
Project2/log.txt
*.out
*.db
*.bak
*.pages
*.key
*.o
*.a
